<h1>To Do List</h1>


<% @tasks.each do |task| %>
<p>
  <%= task.id %>
  <%= task.name %>
</p>
<p><%= task.description %></p>

<% if task.done %>
<p>Good job! Task completed</p>
<%= task.updated_at %>
<% else %>
<p>Get started!</p>
<% end %>

<%= link_to "Show", task_path(id: task.id) %>

<p>__________________________________</p>

<% end %>

<%= link_to "Create a new task", new_task_path %>

